<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration</comment>

    <entry key="application_name">NewProj</entry>

    <!-- Database configuration -->
    <entry key="DB_URL">jdbc:mysql://127.0.0.1</entry>
    <entry key="DB_NAME">gestion_parking_db</entry>
    <entry key="DB_USER">root</entry>
    <entry key="DB_PASSWORD"></entry>
    <!---->
    <!-- Database configuration -->
    <!--<entry key="DB_URL">jdbc:sql11.freemysqlhosting.net</entry>-->
    <!--<entry key="DB_NAME">sql11403062</entry>-->
    <!--<entry key="DB_USER">sql11403062</entry>-->
    <!--<entry key="DB_PASSWORD">TKpWpK9L8F</entry>-->
    <!---->

</properties>
