.title-bar{
    -fx-text-fill: white;
    -fx-padding: 0 0 0 10;
    -fx-font-size:15;
}

.btn-nav-style{
    -fx-background-color: trasparent;
    -fx-text-fill: white;
    -fx-padding: 20;
    -fx-font-size: 20;
    -fx-border-width: 0 7 0 0;
    -fx-border-color: #24292e;
}

.btn-nav-style-selected , .btn-nav-style:hover {
    -fx-border-color: white;
    -fx-cursor: hand;
}

.btn-close{

}
.hover_border:hover
{
-fx-background-color:#88adc6 !important;
-fx-cursor:hand;
-fx-background-radius:0em 0em 0em 0em;
}
.cursor-hand{-fx-cursor:hand;
}
.img
{
-fx-background-radius:2em;-fx-border-radius:10 10 10 10;
}

.btn-settings{
-fx-background-color:  #24292e; -fx-text-fill: white; -fx-font-size: 25px;
}

.btn-settings:hover{
-fx-underline:true;-fx-cursor: hand;
}

.section-title{
-fx-border-style: solid;-fx-border-width: 1 0 0 0;
}

.lbl-place{
-fx-background-color: white; -fx-text-fill: black;
}

.lbl-place:hover{
-fx-underline:true;-fx-cursor: hand;
}


.place-reserver{
-fx-background-color: green; -fx-text-fill: white;
}

.place-disponible{
-fx-background-color: red; -fx-text-fill: white;
}
